

body {

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(137, 43, 226, 0.233);
    margin: 0px;

}

main {
    background-color: rgb(138, 98, 175);
    
    
}

h1 {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
    color: blueviolet;
    margin-bottom: 25px;
}

table {

    border-collapse:collapse;
    margin: auto;

}

thead {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(134, 37, 163);
    color: rgb(243, 209, 250);
    
    
}

td, th {

    border: 1px solid black;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

td.dado {

    text-align: center;
}

td.dadop {

    text-align: center;
}

tbody > tr:nth-child(even) {

    background-color: rgb(202, 128, 236);
    
} 

tbody > tr:nth-child(odd) {
    background-color: rgb(220, 182, 238);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
   
}